/*.main-content {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
  }*/

  
  .main-content {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Updated to 3 columns */
    flex-direction: column;
}